<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="theme-color" content="#1e2327">
    <meta name="color-scheme" content="light" />
    
    <title>Aadhaar Address Formatter </title>
    <link rel="stylesheet" href="../static/styles.css">

</head>
<body >
<span class=" grid grid-cols-3 p-5 bg-white shadow-xl rounded-b-3xl">
    <span class="flex ">
        <span>
        <img class=" h-36" src="https://lh3.googleusercontent.com/proxy/88jJWcJBCir_USlaER4uS0ZT3aMjhyF9nD8KF1n9n6HPMdx5OCeNY9qI5vTe7WAKJx_zDh521EpAX3BsUisy4mvGgz9RbiRh_boH3Y-YA8GjBMzbeHvLAKvgXPDGYNxqOoBwxxXBcOez3C5s" alt="Aadhaar logo">
        </span>
        <span class="py-12">
            <p class=" font-bold"> Unique Identification Authority of India</p>
            <p> Government of India </p>
        </span>
    </span>
    <span>
    <h1 class="  text-4xl text-center py-6 text-red-800 font-extrabold font-sans  ">Aadhaar Address Formatter</h1>
    </span>
    <span>
    <img class=" h-32" src="https://upload.wikimedia.org/wikipedia/en/thumb/c/cf/Aadhaar_Logo.svg/1200px-Aadhaar_Logo.svg.png" alt="Aadhaar logo" align="right">
    </span>
</span>
    <div class=" grid grid-cols-2 bg-red-50">
    <div class=" flex items-center justify-center min-h-screen p-5">
        <div class="px-10  py-5 mt-0 text-left bg-white shadow-2xl rounded">
            <p class=" text-xs text-center">Under Section 3 of THE AADHAAR (TARGETED DELIVERY OF FINANCIAL AND OTHER SUBSIDIES, BENEFITS AND SERVICES) ACT, 2016 (Aadhaar Act)</p>
            <h3 class="text-xl text-white font-bold text-center bg-red-600">AADHAAR ENROLMENT/ CORRECTION/ UPDATE FORM</h3>
            <p class=" text-xs">Aadhaar Enrolment and Mandatory Biometric Update is free. No charges are applicable for Form. In case of Correction/ Update, provide your Aadhaar Number 
                (UID), Full Name and only that field which needs Correction/ Update.</p>
            <form class=" text-sm" action="/" method="post">
                <div class="mt-4 ">
                    
                    <div>
                        <div class="grid grid-cols-2 gap-3">
                        
                            In case of Update provide Aadhaar Number (UID):
                            <input required type="text" placeholder="Your Aadhaar number" name="num" id="num"
                                class="w-full px-4 py-2 mb-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-red-700">
                            </span>
                        </div>
                        Full Name
                            <input required type="text" placeholder="Your full name" name="name" id="name"
                                class="w-full px-4 py-2 mb-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-red-700">    
                        
                                     
                        <span> Address: C/o </span>
                        <span>
                            <input required type="text" placeholder="Address" name="address" id="address"
                                class=" min-w-full px-4 py-2 mb-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-red-700">
                        </span>
                        <div class="grid grid-cols-2 gap-3">
                            <span>House No./ Bldg./ Apt:
                                <input required type="text" placeholder="House No."  id="houseno"
                                    class="w-full px-4 py-2 mb-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-red-700"></span>
                            <span>
                                Street/ Road/ Lane:
                                <input required type="text" placeholder="Lane" id="road"
                                    class="w-full px-4 py-2 mb-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-red-700">
                                </span>
                        </div>
                        <div class="grid grid-cols-2 gap-3">
                            <span>Landmark:
                                <input required type="text" placeholder="Landmark" id="landmark"
                                    class="w-full px-4 py-2 mb-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-red-700"></span>
                            <span>
                                Area/ Locality/ Sector:
                                <input required type="text" placeholder="Area" id="area"
                                    class="w-full px-4 py-2 mb-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-red-700">
                                </span>
                        </div>
                        <div class="grid grid-cols-2 gap-3">
                            <span>Village/ Town/ City:
                                <input required type="text" placeholder="City" id="city"
                                    class="w-full px-4 py-2 mb-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-red-700"></span>
                            <span>
                                Post Office:
                                <input required type="text" placeholder="Post Office" id="post"
                                    class="w-full px-4 py-2 mb-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-red-700">
                                </span>
                        </div>
                        <div class="grid grid-cols-2 gap-3">
                            <span>District:
                                <input required type="text" placeholder="District" id="district"
                                    class="w-full px-4 py-2 mb-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-red-700"></span>
                            <span>
                                Sub-District:
                                <input required type="text" placeholder="Sub-District:" id="Subd"
                                    class="w-full px-4 py-2 mb-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-red-700">
                                </span>
                        </div>
                        <div class="grid grid-cols-2 gap-3">
                            <span>State:
                                <input required type="text" placeholder="State" id="state"
                                    class="w-full px-4 py-2 mb-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-red-700"></span>
                            <span>
                                E-Mail:
                                <input required type="text" placeholder="E-Mail:" id="email"
                                    class="w-full px-4 py-2 mb-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-red-700">
                                </span>
                        </div>
                        <div class="grid grid-cols-2 gap-3">
                            <span>Mobile No.:
                                <input required type="text" placeholder="Mobile No." id="phone"
                                    class="w-full px-4 py-2 mb-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-red-700"></span>
                            <span>
                                PIN Code: 
                                <input required type="text" placeholder="Pin Code" id="pin"
                                    class="w-full px-4 py-2 mb-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-red-700">
                                </span>
                        </div>
                    </div>
                    <div class="flex items-baseline justify-around">
                        <button class=" font-semibold px-6 py-2 mt-4 text-white bg-red-600 rounded-lg hover:bg-red-800">Submit</button>
                        <!-- <a href="#" class="text-sm text-blue-600 hover:underline">Forgot password?</a> -->
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class=" flex items-center justify-center min-h-screen p-5">
        <div class="w-full h-3/5 px-10  py-5 mt-0 text-left bg-white shadow-2xl rounded-2xl">
            <div class="w-full h-full bg-no-repeat bg-cover" style="background-image: url(../static/aadhaar1.png);"></div>
    </div>
    </div> 
</body>
</html>